
*.pdb

*.pdb

*.ilk

COMP371GroupProject/COMP371GroupProject/Debug/vec3f.obj

COMP371GroupProject/COMP371GroupProject/main.cpp

*.bmp

*.bmp

*.opensdf

*.sdf

*.suo

*.sdf

*.obj

*.log

*.lastbuildstate
